/* Write your CSS here */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: 'Lobster';
  color: #0f172a;
  font-weight: 800;
}

.languages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
